In [ ]:
'''
1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators. 

*
"hello"
-87.8
-
/
+
6

'''

In [4]:
# * ------> Mathematical operator (Multiplication)

# 'hello'-----> string

# -87.8 ------> float

# -  Mathematical operator (Subtraction)

# /  ------> Mathematical operator (Division)

# +  -------> Mathematical operator (addition)

# 6  -------> integer

In [3]:
print(type(-87.8))

<class 'float'>

In [ ]:
'''

2. What is the difference between string and variable?


'''

In [6]:
# variable --------> it is a container used for future use.

vaRiAble=5

# variable name -----> vaRiAble

print(id(vaRiAble))

11256192

In [7]:
# string -------> it is literals and it is a group of character written in quotation marks ' '," ",''' '''

vaRiAble="StRing"
print(vaRiAble)
print(type(vaRiAble))
print(id(vaRiAble))

StRing
<class 'str'>
139840534133872

In [8]:
# StRing   --------->string literal
# <class 'str'>   --------variable type is string 
# 139840534133872   ------->memory location pointed by variable

In [ ]:
''' 
3. Describe three different data types.

'''

In [2]:
from IPython.core.display import Javascript
# data type of Python

# 1)Numeric type ---- this hold number data type further it is classified in (integer,float,Complex Numbers)

InTeGeR=65    # integer
FlOaT=65.9    #float
CoMpLeX=3+2j   # complex

print(type(InTeGeR))
print(type(FlOaT))
print(type(CoMpLeX))

<class 'int'>
<class 'float'>
<class 'complex'>

In [3]:
# 2) Sequence Type ------->collection of similar or different data types and Sequences allows to store multiple values in an organized and efficient fashion

# String ---->collection of one or more characters put in a single quote, double-quote or triple quote.

StRiNg='string data type'
print(type(StRiNg))
# List  ------->ordered collection of data and in a list do not need to be of the same type.

LiSt=["list",9]   # list is mutable
print(type(LiSt))


# Tuple ------->it is same like list only diffrence is it is immutable in nature

TuPlE=('TUPLE',9)
print(type(TuPlE))

<class 'str'>
<class 'list'>
<class 'tuple'>

In [1]:
# 3)Dictionary-------->unordered collection of data values and Dictionary holds key:value pair.

DiCtionary={'ineuron':'data science','student':'vikas'}
print(type(DiCtionary))

<class 'dict'>

In [ ]:
'''
4. What is an expression made up of? What do all expressions do?

'''

In [3]:
# expression ------->legal combination of operators and operands and produce some other value

In [ ]:
''' 
5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

'''

In [5]:
# expression -----> legal combination of operators and operands and produce some other value.  example---> 3+5
# expression------>a expression to be executed that returns a value (even if it returns a void ).

# statement ----> a programming statement that does something means some action takes place.  example--->print("vikas")
# statement -----> used to form the sequence of a program and statement can be simple or complex and can contain 0 or more expression.

In [ ]:
'''
6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

'''

In [7]:
bacon = 22
bacon + 1
print(bacon)

22

In [ ]:
'''
7. What should the values of the following two terms be?

'spam'+'spamspam'

'spam'*3

'''

In [9]:
print('spam'+'spamspam')

spamspamspam

In [10]:
print('spam'*3)

spamspamspam

In [ ]:
'''
8. Why is eggs a valid variable name while 100 is invalid?

'''

In [12]:
# A variable name must start with a letter or the underscore character
# A variable name cannot start with a number
# A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
# Variable names are case-sensitive (age, Age and AGE are three different variables)



# so 100 (variable name cannot start with a number) is invalid variable name and eggs (variable name must start with a letter or the underscore character) is a valid variable name

In [ ]:
'''
9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

'''

In [14]:
# integer
int_variable='5'
print(type(int_variable))

<class 'str'>

In [15]:
# by using int() function we can convert any legal or convertable class to int class
# convert any legal or convertable class---> we can not convert any alphabate into int class

int_variable=int('5')   # use of int() function
print(type(int_variable))

<class 'int'>

In [16]:
# string
str_variable=59
print(type(str_variable))

<class 'int'>

In [17]:
# by using str() function we can convert any legal or convertable class to string class

str_variable=str(59)
print(type(str_variable))

<class 'str'>

In [18]:
# float() ----->convert any legal or convertable class  to float class
float_variable=59
print(type(float_variable))

<class 'int'>

In [20]:
# by using float() function we can convert any legal or convertable class to float class
float_variable=float(59)
print(float_variable)
print(type(float_variable))

59.0
<class 'float'>

In [ ]:
'''
10. Why does this expression cause an error? How can you fix it?
'I have eaten' +99+ 'burritos'

'''

In [22]:
# we can not combine str and int type with the help of Concatenation (+) operator
# to fix it convert 99 int type to str type

In [23]:
'I have eaten' +99+ 'burritos'

TypeError: ignored

In [24]:
# to fix it convert 99 int type to str type by using str() function
'I have eaten' +str(99)+ 'burritos'

'I have eaten99burritos'